{% trans_default_domain 'FOSUserBundle' %}
{% extends "ViahomeBundle::menu.html.twig" %}

{% block viahomepage_body %}
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        * {box-sizing: border-box;}

        .input-container {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }

        .icon {
            padding: 10px;
            background: dodgerblue;
            color: white;
            min-width: 50px;
            text-align: center;
        }

        .input-field {
            width: 100%;
            padding: 10px;
            outline: none;
        }

        .input-field:focus {
            border: 2px solid dodgerblue;
        }

        /* Set a style for the submit button */
        .btn {
            background-color: dodgerblue;
            color: white;
            padding: 15px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

        .btn:hover {
            opacity: 1;
        }
    </style>


<div class="container">


    <form action="{{ path("fos_user_security_check") }}" method="post" style="max-width:500px;margin:auto">
        <h2>Se connecter</h2>

        <p>Ceci est la page de connexion, si vous n'avez pas de compte vous pouvez en crée un ici : <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></p>

        <fieldset>


                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}

                <div class="input-container">
                    <i class="fa fa-user icon"></i>
                    <input class="input-field" placeholder="Username" type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
                </div>

                <div class="input-container">
                    <i class="fa fa-key icon"></i>
                   <input class="input-field" type="password" placeholder="Password" id="password" name="_password" required="required" />

                </div>

                <div class="form_errors">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div><br>
                {% endif %}
                </div>

                <label  for="remember_me">
                    <input  type="checkbox" id="remember_me" name="_remember_me" value="on" class="mdl-checkbox__input" />
                    <span class="mdl-checkbox__label">{{ 'security.login.remember_me'|trans }}</span>
                </label>

            <div >
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
                <input class="btn" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </div>
        </fieldset>
    </form>
</div>

</body>
{% endblock %}